@import "variables";
@import "normalize";

#wordsApp {
    padding-top: 40px;
}
.wordsApp-form {
    background: #eee;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}