@import "_variables.pcss";
@import "_normalize.pcss";


a {
    color: var(--link-color);
}

#wordsApp {
    padding-top: 40px;
    color: var(--font-color);
}

.wordsApp-form {
    background: #eee;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    input {
        border: none;
        background-color: #fff;
        background-size: cover;
        display: flex;
    }
}